$Light-blue: hsl(200, 100%, 62%);
$Light-green: hsl(130, 100%, 62%);
$Softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$grey-lightblue: hsla(201, 63%, 95%, 0.979);
$grey-darkblue: hsla(203, 65%, 92%, 0.979);
$white: hsl(0, 0%, 100%);